.team-members {
  margin-left: 10%;
}

.no-team-content {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 26px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.no-team-content > p {
  margin: 0;
  line-height: 1.5rem;
}
