<div class="container">
  <div *ngIf="currentTeam" class="row section">
    <teams-dropdown
      *ngIf="isAdmin"
      [teams]="teams"
      [selectedTeam]="currentTeam"
      (selectTeamEvent)="onTeamChange($event)"
    ></teams-dropdown>
    <div class="col col-small">
      <teams
        [totalPlayers]="players.length"
        [currentTeam]="currentTeam"
        [isAdmin]="isAdmin"
      ></teams>
    </div>
    <div class="col col-medium col-offset-xs">
      <div class="team-members">
        <players
          [currentTeam]="currentTeam"
          [players]="players"
          [isAdmin]="isAdmin"
        ></players>
      </div>
    </div>
  </div>
</div>

