<div class="container">
  <div *ngIf="currentTeam; else noTeam" class="row section">
    <teams-dropdown
      *ngIf="isAdmin"
      [teams]="teams"
      [selectedTeam]="currentTeam"
      (selectTeamEvent)="onTeamChange($event)"
    ></teams-dropdown>
    <div class="col col-small">
      <teams
        [totalPlayers]="players.length"
        [currentTeam]="currentTeam"
        [isAdmin]="isAdmin"
      ></teams>
    </div>
    <div class="col col-medium col-offset-xs">
      <div class="team-members">
        <players
          [currentTeam]="currentTeam"
          [players]="players"
          [isAdmin]="isAdmin"
        ></players>
      </div>
    </div>
  </div>
</div>

<ng-template #noTeam>
  <div class="no-team-content">
    <h2>Hi, {{ currentUser?.firstName || "there" }}!</h2>
    <p>You don't belong to any of the teams</p>
    <p>Please ask your administrator to add you to a team</p>
  </div>
</ng-template>
