<nav class="nav-bar">
  <div class="container">
    <div class="row">
      <div class="col col-large">
        <div class="nav-items">
          <a
            id="home-nav-link"
            routerLink="/"
            routerLinkActive="nav-item-active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="onClick()"
            class="nav-item"
            >Home</a
          >
          <a
            id="my-profile-nav-link"
            routerLink="/profile"
            routerLinkActive="nav-item-active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-item"
            (click)="onClick()"
            >My Profile</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
