<nav class="nav-bar">
  <div class="container">
    <div class="row">
      <div class="col col-large">
        <div class="nav-items">
          <a
            id="home-nav-link"
            routerLink="/"
            routerLinkActive="nav-item-active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-item"
            >Home</a
          >
          <a
            id="my-profile-nav-link"
            [routerLink]="['/profile']"
            routerLinkActive="nav-item-active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-item"
            >My Profile</a
          >
          <a
            *ngIf="isAdmin"
            id="all-players-nav-link"
            [routerLink]="['/players', 'all']"
            routerLinkActive="nav-item-active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-item"
            >All Players</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
