<nav *ngIf="showNav" class="nav-bar">
  <div class="container">
    <div class="row">
      <div class="col col-medium col-offset-xs">
        <div class="nav-items">
          <a
            id="home-nav-link"
            routerLink="/dashboard"
            routerLinkActive="nav-item-active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-item"
            >Home</a
          >
          <a
            id="my-profile-nav-link"
            [routerLink]="['/dashboard', 'profile']"
            routerLinkActive="nav-item-active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-item"
            >My Profile</a
          >
          <a
            *ngIf="isAdmin"
            id="all-players-nav-link"
            [routerLink]="['/dashboard', 'players', 'all']"
            routerLinkActive="nav-item-active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-item"
            >All Players</a
          >
        </div>
      </div>
      <div class="col col-small">
        <div class="signout-wrapper">
          <button name="logout" class="logout-btn" (click)="onSignOut()">
            <span class="btn-label">sign out</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
