.nav-bar {
  width: 100%;
  height: 56px;
  background-color: #005f73;
}

.nav-items {
  margin: 16px auto 0 auto;
  max-width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item,
.nav-item-active {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 16px;
  color: #fff;
  transition: transform 85ms ease-in-out;
}

.nav-item-active {
  color: #e9d8a6;
}

.nav-item:hover,
.nav-item-active:hover {
  cursor: pointer;
  transform: scale(0.98);
}
