* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 110%;
}

h3 {
  font-size: 2.92rem;
  margin: 1.92rem 0 1.62rem 0;
}

h4 {
  font-size: 2.28rem;
  margin: 1.52rem 0 0.92rem 0;
}

h5 {
  font-size: 1.56rem;
  margin: 1.06rem 0 0.56rem 0;
}

h6 {
  font-size: 1.15rem;
  margin: 0.75rem 0 0.45rem 0;
}

a {
  user-select: none;
  text-decoration: none;
  color: #000;
  background-color: transparent;
}

p {
  font-size: 16px;
}

ul,
ol,
dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

select {
  margin: 0;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

select::-ms-expand {
  display: none;
}

button,
input[type="submit"] {
  outline: none;
  border: none;
  background-color: transparent;
}

img {
  border-style: none;
}

input {
  line-height: 1.15rem;
}

.container {
  margin: 0 auto;
  max-width: 980px;
  width: 90%;
}

.row {
  width: 100%;
  margin-bottom: 20px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.section {
  padding: 80px 0 0 0;
}

.row .col {
  float: left;
  min-height: 1px;
}

.col .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.row .col.col-medium {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.col-small {
  width: 33.33%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.col-large {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.col-offset-xs {
  margin-left: 15%;
}

.row .col.col-offset-small {
  margin-left: 25%;
}

.row .col.col-offset-medium {
  margin-left: 33.33%;
}

.row .col.col-offset-large {
  margin-left: 50%;
}

.card {
  position: relative;
  margin: 0.5rem 0 0.75rem 0;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  transition: box-shadow 0.25s -webkit-box-shadow 0.25s;
  border-radius: 2px;
}

.card.x-small {
  height: 200px;
}

.card.small {
  height: 335px;
}

.card.medium {
  height: 400px;
}

.card.small,
.card.medium {
  position: relative;
}

.card-content {
  padding: 24px;
}

.card-title {
  font-size: 24px;
  font-weight: 400;
}

.card-content .card-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
}

.tooltip {
  position: relative;
  margin: 0 4px;
}

.tooltip:hover {
  cursor: pointer;
}

.tooltip::before {
  content: attr(data-tooltip-text);
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  color: #fff;
  left: 100%;
  margin-left: 15px;
  min-width: 20px;
  max-width: 150px;
  width: 120px;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  opacity: 0;
  font-size: 14px;
  transition: opacity 0.3s ease-in-out;
}

.tooltip:hover::before {
  opacity: 1;
}

.tooltip-sm:before {
  width: 90px;
  max-width: 90px;
  padding: 4px;
  font-size: 12px !important;
}

.tooltip-md:before {
  width: 120px;
  max-width: 120px;
  font-size: 13px !important;
  padding: 6px;
}

.tooltip-lg:before {
  width: 170px;
  max-width: 200px;
  font-size: 13px !important;
  padding: 8px;
}

.action-btn {
  padding: 6px 11px;
  border: 1px solid #adb5bd;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  max-width: 100%;
  line-height: 1.7rem;
  word-wrap: break-word;
  transition: transform 80ms ease-in-out;
}

.action-btn:hover {
  cursor: pointer;
  border-color: #6c757d;
}

.btn-create {
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  background-color: #ee9b00;
  transition: transform 80ms ease-in-out;
}

.btn-create:hover {
  transform: scale(0.98);
}

.btn-label {
  margin: 0 0 0 8px;
  text-transform: uppercase;
  font-size: 12px;
}

.btn-edit,
.btn-delete {
  border-radius: 8px;
  padding: 2px;
  width: 35px;
}

.modal {
  z-index: 1003;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 100%;
  height: 300px;
  max-height: 100%;
  background-color: #fff;
  color: #000;
  border-radius: 16px;
  display: none;
  overflow: hidden;
}

.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6 {
  margin-top: 0;
}

.modal .modal-content {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  overflow: visible;
}

.modal .modal-content .modal-close-btn {
  position: absolute;
  z-index: 1;
  top: 12px;
  right: 12px;
  padding: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 85ms ease-in-out;
}

.modal .modal-content .modal-close-btn:hover {
  cursor: pointer;
  background-color: #d5d5d5;
}

.modal.open,
.modal-overlay.open {
  display: block;
}

.modal-form .row {
  margin-left: 0;
  margin-right: 0;
}

.modal-overlay {
  z-index: 1002;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #212529;
  opacity: 0.5;
  display: none;
}

.info-text {
  font-size: 14px;
  color: #495057;
  line-height: 1rem;
  font-weight: 400;
  margin: 0.2rem 0;
}

.ic {
  position: relative;
  top: 0px;
  color: #adb5bd;
  transition: color 80ms ease-in;
}

.ic:hover {
  color: #001219;
}

.form-control {
  position: relative;
  margin: 0.9rem 0;
}

.form-control label {
  position: relative;
  top: 3px;
  font-size: 14px;
  font-weight: 500;
  cursor: text;
}

.form-control > input[type="text"],
.form-control > input[type="email"],
.form-control > input[type="password"] {
  width: 100%;
  height: 2.5rem;
  border: 1px solid #adb5bd;
  border-radius: 4px;
  margin: 9px 0 0 0;
  outline: none;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
  background-color: transparent;
}

.form-control input[type="text"]:focus,
.form-control input[type="email"]:focus,
.form-control input[type="password"]:focus {
  border: 1px solid #212529;
}

.form-control label + input[type="text"].invalid,
.form-control label + input[type="email"].invalid,
.form-control label + input[type="password"].invalid {
  border: 1px solid #dd2c2f;
  color: #dd2c2f;
}

.form-control .info-text {
  margin-top: 1rem;
  margin-left: 0.2rem;
}

.helper-text {
  display: block;
  position: relative;
  width: 100%;
  top: 4px;
  font-size: 12px;
  color: #7f7f7f;
}

.helper-text {
  opacity: 0;
}

.helper-text.invalid-text {
  opacity: 1;
  color: #dd2c2f;
}

.helper-text.active {
  opacity: 1;
}

.modal-form {
  width: 400px;
  height: 320px;
}

.modal-form .modal-content {
  padding-bottom: 0;
}

.form-control .btn-submit {
  width: 100%;
  display: inline-block;
  border: none;
  border-radius: 4px;
  outline: none;
  line-height: 40px;
  background-color: #ee9b00;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.02rem;
  transition: transform 85ms ease-in-out;
}

.form-control .btn-submit:hover {
  cursor: pointer;
  transform: scale(0.98);
}

[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

[type="checkbox"] + span {
  cursor: pointer;
  user-select: none;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

[type="checkbox"] + span::before,
[type="checkbox"] + span::after {
  content: "";
  position: absolute;
  left: 0;
  transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s,
    height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  z-index: 1;
  border: 2px solid #ee9b00;
  border-radius: 1px;
}

[type="checkbox"] + span::before {
  border-radius: 1px;
}

[type="checkbox"] + span::after {
  border-radius: 2px;
}

[type="checkbox"]:checked + span::before {
  top: 0;
  left: 0;
  width: 5px;
  height: 11px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotateZ(37deg);
  transform-origin: 100% 100%;
}

[type="checkbox"]:not(:checked) + span::before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  transform: rotateZ(37deg);
  transform-origin: 100% 100%;
}

[type="checkbox"]:disabled:not(:checked) + span::before {
  background-color: transparent;
  border: 2px solid transparent;
}

[type="checkbox"]:disabled:not(:checked) + span::after {
  background-color: #e9e9e9;
  border: 1px solid #dddddd;
}

[type="checkbox"]:checked + span::after {
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #ee9b00;
  background-color: #ee9b00;
  z-index: 0;
}

[type="checkbox"]:not(:checked) + span::after {
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 2px solid #7f7f7f;
  top: 0;
  z-index: 0;
}

.chip {
  display: inline-block;
  border-radius: 16px;
  padding: 0 16px;
  background-color: #dee2e6;
  font-size: 13px;
  height: 32px;
  line-height: 32px;
  font-weight: 400;
  color: #212529;
  margin: 0 5px 5px 0;
}

.alert {
  padding: 1rem;
  border-radius: 4px;
  font-size: 14px;
}

.alert.error {
  background-color: #fceeee;
  color: #9e1a1c;
}

@media only screen and (min-width: 900px) {
  .container {
    width: 70%;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    width: 85%;
  }
}

@media only screen and (max-width: 430px) {
  .row .col.col-small,
  .row .col.col-medium {
    width: 100%;
  }

  .row .col.col-offset-xs,
  .row .col.col-offset-small,
  .row .col.col-offset-medium,
  .row .col.col-offset-large {
    margin-left: auto;
  }
}
