<div
  id="create-team-form-modal"
  class="modal modal-form"
  [ngClass]="{ open: toggleModal }"
>
  <div class="modal-content">
    <button class="modal-close-btn" (click)="closeModal()">
      <fa-icon [icon]="faTimes" size="lg"></fa-icon>
    </button>
    <h5>New team</h5>
    <form class="create-team-form" autocomplete="off" (submit)="onSubmit()">
      <div class="row">
        <div class="form-control col col-large">
          <label for="team-name">Team name</label>
          <input
            type="text"
            id="team-name"
            name="teamName"
            maxlength="15"
            [ngClass]="{ invalid: teamNameInvalid }"
            [ngModel]="teamName"
            (ngModelChange)="changeTeamName($event)"
          />
          <span
            class="helper-text"
            [ngClass]="{ 'invalid-text': teamNameInvalid }"
            >Required</span
          >
          <p class="info-text">
            Keep your team name short and meaningful. Please remember that a
            team can consist of only six players.
          </p>
        </div>
        <div class="form-control col col-large">
          <input type="submit" value="create" class="btn-submit" />
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-overlay" [ngClass]="{ open: toggleModal }"></div>
