.team-header {
  display: flex;
  width: 100%;
  margin-top: 24px;
  justify-content: space-between;
  align-items: center;
}

.team-title-form {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.team-title-form.full-width {
  width: 100%;
}

.team-title-input {
  display: inline-block;
  border: 1px solid #adb5bd;
  border-radius: 4px;
  padding: 5px 8px;
  font-size: 14px;
  outline: none;
  font-weight: 400;
  width: 70%;
  color: #001219;
}

.team-title {
  display: inline-block;
  margin: 0;
  position: relative;
  top: -2px;
  font-size: 1.1rem;
  max-width: 70%;
  word-wrap: break-word;
  color: #001219;
}

.team-title-form input[type="text"]:not(:disabled):focus {
  border: 1px solid #212529 !important;
}

.team-title-input.invalid {
  border: 1px solid #dd2c2f;
  color: #dd2c2f;
}

.team-actions {
  position: relative;
}

.action-btn.btn-save {
  padding: 2px 14px;
  border-radius: 4px;
  transition: transform 80ms ease-in;
}

.action-btn.btn-save:hover {
  transform: scale(0.98);
}

.btn-save span {
  margin-left: 0;
  margin-right: 10px;
}

.btn-section,
.btn-section-lg {
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 0 3px;
}

.btn-section.btn-section-lg {
  top: 0;
}
