<div class="team-header">
  <form
    *ngIf="editMode"
    autocomplete="off"
    class="team-title-form"
    [ngClass]="{ 'full-width': editMode }"
    (submit)="onSubmit()"
  >
    <input
      [id]="currentTeam?.teamId"
      type="text"
      name="teamTitle"
      class="team-title-input"
      maxlength="15"
      [(ngModel)]="teamTitle"
    />
    <div *ngIf="editMode" class="btn-section btn-section-lg">
      <button
        type="submit"
        name="team-title-btn-submit"
        class="action-btn btn-save"
      >
        <span class="btn-label">Save</span>
        <fa-icon [icon]="faSave" size="sm"></fa-icon>
      </button>
    </div>
  </form>
  <h5 *ngIf="!editMode" class="team-title">{{ currentTeam?.name }}</h5>
  <div class="team-actions" *ngIf="!editMode">
    <div class="btn-section">
      <button
        *ngIf="isAdmin"
        type="button"
        name="edit-team-btn"
        class="action-btn btn-edit"
        (click)="enableEditMode()"
      >
        <fa-icon [icon]="faPen" size="sm"></fa-icon>
      </button>
    </div>
    <div class="btn-section" *ngIf="isAdmin">
      <button
        type="button"
        name="delete-team-btn"
        class="action-btn btn-delete"
        (click)="deleteTeam(currentTeam)"
      >
        <fa-icon [icon]="faTrash" size="sm"></fa-icon>
      </button>
    </div>
  </div>
</div>
<span class="helper-text" [ngClass]="{ active: editMode }"
  >Max characters: 15
</span>
