.add-player-modal {
  width: 450px;
  height: 90%;
}

.add-player-modal .modal-content {
  height: 90%;
  padding: 0;
}

.add-player-modal-header {
  padding: 24px;
  max-height: 40%;
}

.add-player-modal-footer {
  padding: 0 24px;
}

.selected-players-wrapper {
  margin: 24px 0 16px 0;
  min-height: 75px;
  height: 100%;
}

#players-list {
  max-height: 400px;
  height: 100%;
  overflow-y: auto;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.player-li {
  padding: 16px;
  display: block;
  line-height: 1.5rem;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
}

.player-li:not(.selected-player).disabled {
  background-color: transparent;
}

.player-li.selected-player {
  background-color: #f8f9fa;
  transition: background-color 80ms ease-in;
}

.player-li:last-child {
  border-bottom: none;
}

.player-input-label {
  position: relative;
  margin-left: 16px;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  cursor: pointer;
}

.player-detail {
  display: inline-block;
  position: relative;
  top: -3px;
  padding-left: 55px;
}

.player-detail::before,
.player-detail::after {
  margin-top: 12px;
}

.player-input-label-text {
  position: relative;
  display: block;
  left: -1px;
}

.player-input-label-location {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 1rem;
  color: #6c757d;
}

.player-li:not(.selected-player).disabled .player-input-label-text,
.player-li:not(.selected-player).disabled .player-input-label-location {
  color: #d5d5d5;
}
