<div id="add-player-modal" class="modal modal-form add-player-modal" [ngClass]="{ open: modalVisible }">
  <div class="modal-content">
    <div class="add-player-modal-header">
      <button class="modal-close-btn" (click)="closeModal()">
        <fa-icon [icon]="faTimes" size="lg"></fa-icon>
      </button>
      <h5>Add player</h5>
      <div class="selected-players-wrapper">
        <div class="chip" *ngFor="let chip of chips">
          <span>{{ chip.split("-")[1] }}</span>
        </div>
      </div>
      <span *ngIf="freePlayers.length > 0" class="helper-text active">
        Team Name: {{ currentTeam.name }},&nbsp;Slots Available: {{ 6 - currentTeamCount }}
      </span>
    </div>
    <form autocomplete="off" (submit)="onSubmit()">
      <ul id="players-list" class="row">
        <li class="form-control col col-large player-li" [ngClass]="{
            'selected-player': playersSelected[player.playerId],
            disabled: maxPlayersReached && !playersSelected[player.playerId]
          }" *ngFor="let player of freePlayers">
          <label class="player-input-label" [attr.for]="player.playerId">
            <input [id]="player.playerId" type="checkbox" id="player-name" name="playerName" [attr.disabled]="
                maxPlayersReached && !playersSelected[player.playerId]
                  ? ''
                  : null
              " [checked]="playersSelected[player.playerId]" [ngModel]="playersSelected[player.playerId]"
              (ngModelChange)="onPlayerSelect($event, player)" />
            <span class="player-detail">
              <span class="player-input-label-text">{{ player.name }}</span>
              <span class="player-input-label-location">
                {{ player.additionalInfo.location }}
              </span>
            </span>
          </label>
        </li>
      </ul>
      <div class="form-control col col-large add-player-modal-footer">
        <input type="submit" value="add to team" class="btn-submit" />
      </div>
    </form>
  </div>
</div>
<div class="modal-overlay" [ngClass]="{ open: modalVisible }"></div>