<div class="team-info">
  <div>
    <p class="section-value">{{ totalPlayers }} / {{ team?.maxPlayers }}</p>
    <p class="section-title">Players</p>
  </div>
  <div>
    <p class="section-value">{{ team?.audit?.createdAt }}</p>
    <p class="section-title">Created On</p>
  </div>
</div>
<button
  *ngIf="isAdmin"
  type="button"
  name="create-team-btn"
  class="action-btn btn-create"
  (click)="toggleCreateTeamModal()"
>
  <fa-icon [icon]="faPlus" size="sm"></fa-icon>
  <span class="btn-label">Create new team</span>
</button>
<team-modal *ngIf="isAdmin" [(toggleModal)]="toggleModal"></team-modal>
