.team-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.team-title {
  display: inline-block;
  font-weight: 600;
}

.team-actions {
  position: relative;
  top: -3px;
}

.btn-section {
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 0 3px;
}

.team-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #e9d8a6;
  border-radius: 4px;
  padding: 24px 32px;
  margin-top: 24px;
}

.section-title {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  text-align: right;
  color: #031a18;
}

.section-value {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 8px 0;
  color: #001219;
}

.modal-form {
  width: 400px;
  height: 400px;
}

.modal-form .modal-content {
  padding-bottom: 0;
}

.create-team-form {
  width: 100%;
  margin: 32px 0 0 0;
}

.create-team-form .row {
  margin-left: 0;
  margin-right: 0;
}

.btn-submit {
  width: 100%;
  display: inline-block;
  border: none;
  border-radius: 4px;
  outline: none;
  height: 2.5rem;
  line-height: 36px;
  background-color: #ee9b00;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.02rem;
  transition: transform 85ms ease-in-out;
}

.btn-submit:hover {
  cursor: pointer;
  transform: scale(0.98);
}
