.team-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.team-title {
  display: inline-block;
  font-weight: 600;
}

.team-actions {
  position: relative;
  top: -3px;
}

.btn-section {
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 0 3px;
}

.team-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #e9d8a6;
  border-radius: 4px;
  padding: 24px 32px;
  margin-top: 24px;
}

.section-title {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  text-align: right;
  color: #031a18;
}

.section-value {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 8px 0;
  color: #001219;
}
